@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Inconsolata:200);

body {
    max-width: 500px;
    margin: 4em auto 2em auto;
    font-family: 'Inconsolata', monospace;
    /* background: white; */
}

h1, h2 {
    width: 100%;
    height: 100%;
    line-height: 1.2em;
    text-align: center;
}

.player {
    background-color: #C0C0C0;
    margin: 3%;
    border-radius: 3%;
}

.player iframe{
    margin-bottom: 3%;
    margin-left: 2%;
    margin-right: 2%;
}

.secondbox {
    margin-bottom: 2%;
    background-color: #C0C0C0;
}

.secondbox div{
}

.calendar {
    float: left;
    width: 40%;
    height: 180px;
    border-radius: 3px;
    background-color: #C0C0C0;

}

.mixlr {
    border-radius: 3px;
    background-color: #C0C0C0;
}

.nob {
    float: left;
    width: 54%;
    height: 180px;
    border-radius: 3px;
    background-color: #EEEEEE;
    text-align: left;
}

.nob ul {
    margin: 5px;
    margin-top: 8px;
    padding: 0px;
}

.nob img {
  border-radius: 50%;
  border: 3px solid #C0C0C0;
  margin: 2px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

.nob li {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    height: 33%;
    width: 30%; 
}

.shop img {
  border-radius: 10px;
  height: 80px;
  width: 80px;
}

.shop li {
    line-height: 1.2em;
    display: inline-block;
    height: 100px;
    width: 100px; 
}

div {
    line-height: 0;
}

a {
    color: #227ce8;
    text-decoration: none;
}

header {
    font-size: small;
    text-align: right;
}

article p {
    line-height: 1.5em;
}

p {
    line-height: 1.2em;
}

.catalog-item {
    height: 200px;
    line-height: 180px;
}

.catalog-thumb {
    float: right;
    width: 320px;
}
